@font-face {
    font-family: "Lato";
    src: url(/font/Lato-Regular.ttf);
}

body {
    font-family: "Lato", sans-serif;
}

.container{
    position: relative;
}

#restart{
    height: 15px;
}

.player{
    display: inline-flex;
}

#cercle1 {
    margin-top: 10%;
    margin-left: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: greenyellow;
}

#dice svg {
    max-height: 240px;
    color: rgb(14, 130, 207);
}

#two{
    display: none;
}

#three{
    display: none;
}

#four{
    display: none;
}

#five{
    display: none;
}

#six{
    display: none;
}


.score svg{
    height: 15px;
}

#roundScore{
    color: white;
}

.score button{
    width: 120px;
}

#cercle2 {
    margin-top: 10%;
    margin-left: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: greenyellow;
}

#win1{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(22, 236, 15, 0.90);
    width: 75%;
    height: 50%;
    border-radius: 50%;
}

#win1 p{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
    font-weight: 700;
}

#win2{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(22, 236, 15, 0.90);
    width: 75%;
    height: 50%;
    border-radius: 50%;
}

#win2 p{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
    font-weight: 700;
}